.home-link {
    text-decoration: none;
}

.about-dropdown {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:auto;
    position: relative;
    top: 50px;
    margin: 100px;
}