.home-link {
    text-decoration: none;
}

.about-dropdown {
    width:1023px;
}

.dropdown-description {
    height: 146px;
}

.about-dropdown {
    width:1240px;
    position: relative;
    top: 50px;
    margin-left: 100px;
}