.about-link {
    text-decoration: none;
}

main {
    margin-top:20px;
}

.kasa-banner {
    top:50px;
    left: 20px;
}

.accomodation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 55px 50px;
    position: relative;
    top: 90px;
    margin-left: 20px;
    margin-right: 20px;
}

.kasa-thumb {
    margin-bottom: 50px;
}

@media screen  and (max-width: 1490px) {
    .kasa-home > .kasa-banner {
        width: auto;
        height: 110px;
        left: 0;
        margin: 20px;
    }

    .kasa-banner p {
        font-size: 24px;
        margin-left: 25px;
        left:0;
    }

    .accomodation-list {
        background-color: unset;
        justify-content: center;
        padding: 0;
    }
}
