.kasa-thumb {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    position: relative;
}

.kasa-thumb:hover {
    background: linear-gradient(180deg, #ff6060 85%, #000000a6 100%);
    cursor: pointer;
}

.thumb-image {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.kasa-thumb:hover>.thumb-image {
    opacity: 0.30;
}

.thumb-dark {
    background: linear-gradient(180deg, #ffffff00 0%, #00000080 100%);
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.thumb-title {
    width: 300px;
    bottom: 20px;
    color: #ffffff;
    font-size: 18px;
    left: 20px;
    position: absolute;
    top: 290px;
}