.kasa-banner {
    width: auto;
    height: 223px;
    margin: 20px;
    position: relative;
    border-radius: 25px;
}

.banner-img {
    border-radius: 25px;
    height: 100%;
    width: 100%;
}

.banner-dark {
    background-color: #000000;
    border-radius: 25px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner-txt {
    color: #ffffff;
    font-size: 48px;
    position: absolute;
    left: 20%;
    top: 37.5%;
    margin-left: 25px;
}

@media screen and (max-width: 718px) {
    .kasa-banner {
        height: 110px;
        left: 0;
        margin: 20px;
    }

    .banner-txt {
        font-size: 24px;
        margin-left: 0;
    }
}