.kasa-error {
    text-align: center;
    margin-top: 200px;
}

.error-title {
    width:597px;
    height: 263px;
    color: #ff6060;
    font-size: 288px;
    margin: auto;
}

.error-description {
    width:auto;
    height: 51px;
    color: #ff6060;
    display: block;
    font-size: 36px;
    margin: auto;
    padding-top: 66px;
}


.error-link {
    display: block;
    color: #ff6060;
    margin-top: 150px;
}

@media screen  and (max-width: 718px) {
    .error-title {
        width:198px;
        height: 99px;
        font-size: 96px;
    }

    .error-description {
        font-size: 18px;
    }

    .error-link {
        font-size:14px;
    }
}